/* 
  CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  CSS Reset
*/

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.bg1 {
  background-color: #ffa586;
  height: 100%;
  width: 100%;
}

.header {
  background-color: #fff;
  height: 90px;
}

.header-buttons {
  height: 31px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  width: 436px;
}

.header-button {
  color: #c9bf9f;
  float: left;
  font-size: 24px;
  height: 31px;
  text-align: center;
  width: 105px;
}

.header-button.active {
  color: #333;
}


.main-section {
  /* The image used */
  background-image: url("imgs/bg-cloth2.jpg");
}

.bg-section {
  /* The image used */
  background-image: url("imgs/bg-cloth.jpg");
}

.main-section, .bg-section {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clear {
  clear: both;
}

.content {
  height: 650px;
}

.title-box {
  background-color: #fff;
  height: 200px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  width: 450px;
}

.title-box:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #ffa586;
}

.title-box-label {
  color: #ffa586;
  font-family: 'Sacramento', cursive;
  font-size: 48px;
  margin: auto;
  position: relative;
  text-align: center;
  top: 20%;
  width: 80%;
}

.title-box-text {
  color: #ffa586;
  font-family: 'Sacramento', cursive;
  font-size: 32px;
  margin: auto;
  position: relative;
  text-align: center;
  top: 30%;
  width: 80%;
}

.line {
  border: 0;
  border-top: 1px solid #ffa586;
  position: relative;
  top: 25%;
  width: 80%;
}

.shop-section {
  background-color: #fff;
  color: #ffa586; 
}

.about-section {
  background-color: #ffa586;
  color: #fff;
}

.about-section-text {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: auto;
  position: relative;
  text-align: center;
  top: 15%;
  width: 500px;
}

.contact-section {
  background-color: #f6f5f5;
  color: #ffa586;
}

.contact-section-info {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: auto;
  position: relative;
  text-align: center;
  top: 15%;
}

.section-title {
  font-size: 32px;
  letter-spacing: 3px;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 10%;
}

.contact-section-form {
  margin: 60px auto;
  width: 500px;
}

.personal-info-fields {
  float: left;
  width: 50%;
}

.personal-message {
  float: right;
  width: 50%;
}

.personal-message-text, .personal-info-input {
  background-color: #fff;
  border: 1px solid #ffa586;
  color: #ffa586;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  padding: 3px 5px;
  width: 234px;
}

.personal-info-input {
  height: 30px;
  margin: 2px;
}

.personal-message-text {
  height: 115px;
}

.shop-section-itens {
  padding: 10px 50px;
  position: relative;
  text-align: justify;
  text-justify: distribute-all-lines;
  top: 12%;
}

.shop-section-item {
  *display: inline;
  display: inline-block;
  float: left;
  vertical-align: top;
  width: 33%;
  zoom: 1;
}

.stretch {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 100%;
}

.item-photo, .item-description, .item-price {
  color: #ff4100;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
}

.item-description {
  font-size: 18px;
}

.item-price {
  font-size: 16px;
  margin-top: 10px;
}

.all-link {
  color: #ff4100;
  font-size: 24px;
  margin-top: 50px;
  text-align: right;
  width: 100%;
}