h1 {
  color: #000066;
  text-align: center;
  font-family: 'Rammetto One', cursive;
}

body {
  background: url(bg.jpg) no-repeat center center fixed; 
  font-family: 'Rammetto One', cursive;
}

p {
  color: #ffffff;
}

a {
  text-decoration: none;
}

a:link {
  color: #ffa22e;
}

a:visited {
  color: #ffa22e;
}

a:hover {
  color: #e26b19;  
}

a:active {
  color: #000066;
}
